.header {
    background-color: rgb(125, 27, 27);
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include w-h (80%, 100%);
        margin: auto;

        img {
            @include w-h (70px, 70px);
            opacity: 100%;
            border-style: double;
            border-radius: 50%;
            border-color: rgba(255, 0, 0, 0.455);
            box-shadow: 2px 5px 10px rgb(22, 6, 6)
        }

        .navMenu {
            @include w-h (500px,50px);
            display: flex;
            justify-content: end;
            align-items: center;

            a {
                font-size: 20px;
                margin: 10px;
                color: rgb(157, 157, 157);
                font-family: "Oswald", sans-serif;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.footer {
    background-color: rgb(125, 27, 27);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    .divFooter {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

    a {
        color: rgb(157, 157, 157);
        font-size: 50px;
    }
}